<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8"/>
    <title>Bad Request</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-12 text-right">
            Logged in user: <b th:inline="text" class="user"> <span sec:authentication="name"></span></b>
            <form th:action="@{/app-logout}" method="POST">
                <input type="submit" value="Logout"/>
            </form>
        </div>
    </div>

    <div class="row">
        <h2 class="mb-5">Data Not Deleted Exception</h2>
    </div>

    <div class="row">
        <div class="col-12 text-center">
            <p th:text="${errorMsg}"></p>
            <p>You will be redirected to home page in 5 second or click <a href="/bidList/list">here</a></p>
        </div>
    </div>

</div>

<script type="application/javascript" src="/js/redirectBidListPage.js"></script>

</body>
</html>